.header-container {
    display: flex;
    margin: 5px 50px;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.links {
    text-decoration: none;
    padding: 0 40px;
    color: black;
}

.logo {
    height: 80px;

}

ul.nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-icon {
    height: 5%;
    width: 5%;
    transform: translate(230px);
}