.boxes {
    display: flex;
    /* gap: 12px; */
    justify-content: space-between;
}

.box {
    width: 275px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}